@media only screen and (max-width: 1400px){
  .events-container{
    width:60%;
    height:fit-content;
     padding:3rem;
     position: relative;
      border-radius:1rem;
     display: flex;
     background-color: whitesmoke;
     flex-direction:column;
 
   }
   .news-container{
    width:40%;
    height:fit-content;
    padding:3rem;
    position: relative;
     border-radius:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
  }
}


@media only screen and (max-width: 1150px){
  .news-papers-container .news-paper-content {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
    .news-and-events-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .news-container{
        width:100%;

    }
    .events-container{
        width:100%;
    }
}
@media screen and (max-width: 925px) {
  
  .events-container 
  .events-content 
  .event-details-container 
  .events-details-align
  .events-details-row h5{
    font-size:1rem;
  
  }
  .events-container 
  .events-content 
  .event-details-container
  .events-details-align
  .events-details h3{
    
    font-size:1.4rem;
   
  }
}
@media screen and (max-width: 985px) {
  .news-papers-container .news-paper-content {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media only screen and (max-width: 700px){
  .news-heading span{
   
    font-size:3rem;
    
  }
  .view-more-news-papers a{

    padding:0.8rem 2rem;
    
    font-size:1.2rem;
    
   }
   .events-details-row{
    display: flex;
    flex-direction: column;
  }
  .event-details-container
 .events-details-align
 .events-details
 h5:nth-child(1){ 
  width:100%;
 }

 .event-details-container
 .events-details-align
 .events-details
  h5:nth-child(2){
    width:100%;
  }
  .event-details-container
 .events-details-align
 .events-details
  h5:nth-child(3){ 
    width:100%;
  }
}
@media screen and (max-width: 665px) {
  .news-papers-container .news-paper-content {
      grid-auto-columns: 100%;
    
  }
}

@media only screen and (max-width: 580px){
  .events-container{
  padding:0.5rem;
  }
  .events-container 
  .events-content 
  .event-details-container 
  .events-details-align
  li{
    font-size:1.3rem;
  
  }
  .events-container 
  .events-content 
  .event-details-container 
  .events-details-align
  .events-details-row h5{
    font-size:1rem;
  
  }
  .events-container 
  .events-content 
  .event-details-container
  .events-details-align
  .events-details h3{
    
    font-size:1.2rem;
  }
  .news-container{
    width:100%;
  }
  .events-heading{
  padding-left:2rem;
  }
  .news-heading span{
   
    font-size:2.5rem;
    
  }
  .view-more-news-papers a{

    padding:1rem 2rem;
    
    font-size:1.2rem;
    
   }
   #full-screen-news-paper{
    padding:2rem;
    
  }
  #full-screen-image{
    padding:0rem;
    object-fit: contain;
    border:none;
  }
   

}

 



@media only screen and (max-width: 360px)
{
  #full-screen-news-paper{
    padding:2rem;
    
  }
  #full-screen-image{
    padding:0rem;
    object-fit: contain;
    border:none;
  }
  .news-heading{
    padding-top:0;
  }

  .news-heading span{
   
    font-size:4rem;
   
    

  }
  .news-container{
    padding-top:2rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:2rem;
  }
  .view-more-news-papers a{

    padding:0.8rem 2rem;
    border-radius:0.5rem;
    font-size:1rem;
    
   }
.news-heading{
  flex-direction: column;
}
.news-heading span{
 margin-bottom:2rem;
}
    .news-container,
    .events-container
    {    
    width:100%;
    height:fit-content;
  }
  .news-heading h1,
  .events-heading h1{
    font-size:3rem;
 
}
.event-details-container 
.events-details-align
.events-details
h3{ 
  font-size: 1.3rem;
}
}
/* @media screen and (max-width: 1160px) {
    .news-papers-container .news-paper-content {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  } */
  /* @media screen and (max-width: 800px) {
    .news-papers-container .news-paper-content {
      grid-auto-columns: 100%;
    }
  } */

 
 