@media only screen and (max-width:900px){

    
.grid-container-1,
.grid-container-2,
.grid-container-3 {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    justify-items: center; /* adjusted */
   
    gap: 0rem;
    padding:2rem;

}
}
@media only screen and (max-width:760px){

    .in-door-container h1,
.out-door-container h1,
.summer-container h1{
    font-size:3rem;
   
 }
 
    
    .grid-container-1,
    .grid-container-2,
    .grid-container-3 {
        width:100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        justify-items: center; /* adjusted */
       
        gap: 0rem;
        padding:2rem;
    
    }
    .sports-card h2 {
        font-size:1.8rem;
        position: absolute;
        width:100%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    
    }
    }


    @media only screen and (max-width:550px){


        .sports-card h2 {
            font-size:1.4rem;
            position: absolute;
            width:100%;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        
        }
        .in-door-container h1,
    .out-door-container h1,
    .summer-container h1{
        font-size:2.5rem;
        
       
     }
     
     
        
        .grid-container-1,
        .grid-container-2,
        .grid-container-3 {
            width:100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            align-items: center;
            justify-items: center; /* adjusted */
           
            gap: 0rem;
            padding:2rem;
        
        }
        }

    @media only screen and (max-width:510px){

        .in-door-container h1,
    .out-door-container h1,
    .summer-container h1{
        font-size:2.8rem;
      
       
     }
     .in-door-container ,
     .out-door-container,
     .summer-container{
     
     display: flex;
     justify-content: center;
     align-items: center;
     }
        
        .grid-container-1,
        .grid-container-2,
        .grid-container-3{
            width:100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            align-items: center;
            justify-items: center; /* adjusted */
            gap: 0rem;
            padding:0rem;
            border-radius:0.5rem;
        
        }
        .sports-card{
            position: relative;
            text-align: center;
            color: rgba(255, 255, 255, 0.652);
            border-radius: 0.4rem;
            margin-top:2rem;
           
        }
        .sports-card img {
            width: 85%;
            border-radius:0.5rem;
            box-shadow: 10px 10px 5px #ccc;
              -moz-box-shadow: 10px 10px 5px #ccc;
              -webkit-box-shadow: 10px 10px 5px #ccc;
              -khtml-box-shadow: 10px 10px 5px #ccc;
            
        }
        }
      
        @media only screen and (max-width:320px){

            
.sports-card h2 {
    font-size:1.2rem;
    position: absolute;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.in-door-container h1,
    .out-door-container h1,
    .summer-container h1{
        font-size:2.5rem;
      
       
     }
        }