
@media only screen and (max-width: 1200px){
 

    .staffs-container{
     
       grid-template-columns:repeat(3,2fr);
       
          
        }


}@media only screen and (max-width: 1055px){
.staff-details-2-show p:nth-child(2) span{
  
  font-size:1.5rem;
  font-weight: bold;
   }
   .staff-details-2-show p:nth-child(1){
    flex-basis:90%;
     padding:0.1rem 0.1rem;
     font-weight: bold;
     text-align: center;
     font-size:1.2rem;
    
 
   }
}
@media only screen and (max-width: 900px){
   
      .staff-details-2 h1{
  
            font-size:1.4rem;
            text-align: center;
            color: #ffffffd9;
        }
      
      .staff-details-2 p{
        font-size:1.3rem;
        /* background-image: linear-gradient(to bottom right, rgb(212, 40, 40), rgb(31, 89, 216)); */
     
        color: rgba(0, 0, 0, 0.893);
       
      
        /* animation:text-staff 1.5s infinite; */
    }

      .staffs-container{
       
         grid-template-columns:repeat(3,2fr);
         
            
          }
          .staffs-container{
           
             width:100%;
             
             
                
              }
              .staffs-container{
    
                column-gap:0rem;
                row-gap:5rem;
                
                   
                 }

}

@media only screen and (max-width: 610px){


 
    .staff-details-2-show p:nth-child(2) span{
      
      font-size:1rem;
      font-weight: bold;
       }
       .staff-details-2-show p:nth-child(1){
        flex-basis:90%;
         padding:0.1rem 0.1rem;
         font-weight:bold;
         text-align: center;
         font-size:1rem;
        
     
       }
  
  .staff-details:hover .staff-details-2{
    bottom:0.5rem;
    opacity:1;
  }
  .heading-staffs h1{
    color:rgb(0, 0, 0);
    width:100%;
    font-size:3rem;
    
   
  
  }
  .heading-staffs{
    padding:1rem 0rem;
  }
  .staff-details-2 h1{
  
    font-size:1.2rem;
    text-align: center;
    color: #ffffffd9;
    font-weight:lighter;
    padding:0.1rem 0rem;
}

.staff-details-2 p{
font-size:1rem;
/* background-image: linear-gradient(to bottom right, rgb(212, 40, 40), rgb(31, 89, 216)); */
padding:0.1rem 0rem;
color: rgba(0, 0, 0, 0.893);


/* animation:text-staff 1.5s infinite; */
}

 
}
@media only screen and (max-width: 450px){

  .staff-details-2-show p:nth-child(1){
    flex-basis:90%;
     padding:0.1rem 0.1rem;
     font-weight:lighter;
     text-align: center;
     font-size:1rem;
    
 
   }
  .section-1-0{
   
   padding-top:1rem;
  

}

  .heading-staffs h1{
    color:rgb(0, 0, 0);
    width:100%;
    font-size:2.5rem;
    
   padding:1rem 0rem;
  
  }
  .staffs-container{
           
    width:100%;
    
    
       
     }
     .staff-details-2 h1{
  
      font-size:1rem;
      text-align: center;
      color: #ffffffd9;
      font-weight:lighter;
      padding:0.1rem 0rem;
  }
  
  .staff-details-2 p{
  font-size:0.8rem;
  /* background-image: linear-gradient(to bottom right, rgb(212, 40, 40), rgb(31, 89, 216)); */
  padding:0.1rem 0rem;
  color: rgba(0, 0, 0, 0.893);
  
  
  /* animation:text-staff 1.5s infinite; */
  }
  .staffs-container{
    
     column-gap:2rem;
     row-gap:5rem;
     
        
      }
      .staffs-container{
       padding:4rem 2rem;
        grid-template-columns:repeat(2,2fr);
        
           
         }

}
@media only screen and (max-width: 340px){
  .staffs-container{
    padding:2rem 0rem;
     grid-template-columns:repeat(2,2fr);
     
        
      }
      
 
    .staff-details-2-show p:nth-child(2) span{
      
      font-size:1rem;
      font-weight:lighter;
       }
       .staff-details-2-show p:nth-child(1){
        flex-basis:90%;
         padding:0.2rem 0rem;
         font-weight:lighter;
         text-align: center;
         font-size:0.9rem;
        
     
       }
  
}


/* @media only screen and (max-width: 300px){
    
  .staffs-container{
       
    grid-template-columns:repeat(1,2fr);
    
       
     }
    .colour-staff{
        width:12rem;

      }

    .staff-items{
        flex-direction: column;
        }
        .staff-details-2{
            padding-top:2rem;
        }
} */