@media only screen and (max-width: 990px) {
  .faculty-1,
  .faculty-2 {
    margin: 0;
  }

  .faculty-1 img,
  .faculty-2 img {
    width: 13rem;
    margin-right: 0.5rem;

    object-fit: cover;
  }
  .social {
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1.5em;
    color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .social-container {
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    column-gap: 2rem;
  }
  .faculty-detail-1 .faculty-detail-h2 h2,
  .faculty-detail-1 p a,
  .faculty-detail-1 p,
  .faculty-detail-2 .faculty-detail-h2 h2,
  .faculty-detail-2 p a,
  .faculty-detail-2 p {
    font-size: 1.3rem;
    padding-bottom: 0.2rem;
  }
}
@media only screen and (max-width: 760px) {
  .faculty-detail-1 .faculty-detail-h2 h2,
  .faculty-detail-1 p a,
  .faculty-detail-1 p,
  .faculty-detail-2 .faculty-detail-h2 h2,
  .faculty-detail-2 p a,
  .faculty-detail-2 p {
    padding-bottom: 0.5rem;
    text-align: left;
  }

  .faculty-1 img,
  .faculty-2 img {
    width: 13rem;
    margin-right: 0.5rem;

    object-fit: cover;
  }

  .department-name-container h1 {
    font-size: 3rem;
    padding: 0rem 0rem;
  }
  .faculty-details-container {
    row-gap: 0;
    column-gap: 0;
    flex-direction: row;

    text-align: center;
  }
  .faculty-details-container h2 {
    font-size: 1.2rem;
  }
  .faculty-detail-1,
  .faculty-detail-2 {
    padding-top: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .faculty-1,
  .faculty-2 {
    flex-direction: column;
  }
  .social-container {
    padding: 1rem 0rem;
    padding-left: 0rem;
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    column-gap: 2rem;
  }
  .social {
    width: 3rem;
    height: 3rem;
    font-size: 1.5em;
    color: rgb(253, 253, 253);
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
}

@media only screen and (max-width: 440px) {
  .faculty-detail-1 .faculty-detail-h2 h2,
  .faculty-detail-1 p a,
  .faculty-detail-1 p,
  .faculty-detail-2 .faculty-detail-h2 h2,
  .faculty-detail-2 p a,
  .faculty-detail-2 p {
    padding-bottom: 0.5rem;
  }

  .faculty-1 img,
  .faculty-2 img {
    width: 13rem;
    margin-right: 0.5rem;

    object-fit: cover;
  }

  .department-name-container h1 {
    font-size: 2.5rem;
    padding: 0rem 0rem;
  }
  .faculty-details-container {
    row-gap: 2rem;
    column-gap: 0;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
  }
  .faculty-details-container h2 {
    font-size: 1.2rem;
  }
  .faculty-detail-1,
  .faculty-detail-2 {
    padding-top: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .faculty-1,
  .faculty-2 {
    flex-direction: row;
    margin: 0;
  }
  .social-container {
    padding: 1rem 0rem;
    padding-left: 0rem;
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    column-gap: 2rem;
  }
  .social {
    width: 3rem;
    height: 3rem;
    font-size: 1.5em;
    color: rgb(253, 253, 253);
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
}
@media only screen and (max-width: 370px) {
  .faculty-1,
  .faculty-2 {
    flex-direction: column;
    margin: 0;
  }
  .faculty-2 img {
    margin-bottom: 0.6rem;
  }
  .faculty-detail-1,
  .faculty-detail-2 {
    padding-top: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faculty-details-container {
    row-gap: 2rem;
    column-gap: 0;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .facultys-container .faculty-details-container .faculty-1 .faculty-detail-1 .faculty-detail-h2 h2 {
    font-size: 1.1rem;
  }
  .facultys-container .faculty-details-container .faculty-2 .faculty-detail-2 .faculty-detail-h2 h2 {
    font-size: 1.1rem;
  }
}

/* @media only screen and (min-width:290px) and (max-width: 365px){

    .faculty-details-container{
        flex-direction: column;
        
    }
    .social-container{
        padding:1rem 0rem ;
        padding-left:1rem;
        display:grid;
        grid-template-columns: repeat(4, 2rem);
        column-gap:1.2rem;
        
      }
      .social{
  
       
        width:2.5rem;
        height: 2.5rem;
        font-size: 1.5em;
        color: white;
        border-radius: 50%;
        display: grid;
        place-items:center;
      }
} */
