footer{
    width: 100%;
    margin-top: 3rem;
    padding: 2rem 0;
    background-color: rgba(128, 128, 128, 0.47);  
}

.footer-base-container{
    width: 90%;
    margin: auto;
    
    
}

.footer-content{
    display: flex;
}

.footer-left{
    padding-bottom:3rem ;
}

.footer-left,.footer-right{
    width: 100%;
    
}



.footer-map{
    width: 100%;

}


.footer-clg-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer-left-inner-holder{
    flex-basis: 25%;
}



.footer-left{
    display: flex;
    justify-content: space-between;
}

.footer-adr-qr{
    flex-basis: 73%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-clg-qr{
    flex-basis: 30%;
}
.footer-clg-address{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer-clg-address p , .footer-clg-address strong {
    font-size: 1.5rem;
}

.footer-social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer hr{
    margin-top: 2rem;
}

.footer-chd-2{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-chd-2 p,.footer-chd-2 strong,.footer-chd-2 span ,.footer-credits{
    font-size: 1.8rem;
    text-align: center;
    
}

footer strong{
    color: #FF2600;
}
.footer-chd-2 strong{

    color: rgb(222, 55, 22);
}