.section-1-0{
    width:100%;
    height:fit-content;
   padding-top:2.5rem;
   display: flex;
   justify-content: center;
 align-items: center;
flex-direction: column;
background-color: #222222;

}


.staffs-container{
padding:5rem 1rem;
 width:80%;
 display: grid;
 grid-template-columns:repeat(4,20%);
 justify-content:center;
 align-items: center;
 justify-items: center;
 align-content: center;
 column-gap:5rem;
 row-gap:5rem;
 
 
    
  }
  .staff-items{

    position: relative;
    width:80%;
 row-gap: 2rem;
   padding:0rem 0rem;
  display: flex;
  justify-content: space-evenly;
 align-items: center;
border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /* border-bottom: 0.5rem double rgb(24, 98, 210);
    border-right: 0.5rem double rgb(194, 19, 19);
    border-top: 0.5rem double rgb(17, 28, 110);
    border-left: 0.5rem double rgb(21, 16, 118); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
  }


  .staff-details-2{
   align-items: center;
   justify-content:center;
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom:1rem;
    border-radius:0.5rem;
    width:90%;
    background-color: rgba(34, 34, 34, 0.645);
   border:2px solid rgba(34, 34, 34, 0.645);;
   bottom:-2rem;
   opacity:0;
   transition-duration:1s;

  }
  .staff-details{
transition-duration:2s;
  }
  .staff-details:hover .staff-details-2{
    bottom:1rem;
    opacity:1;
  }
 


  .colour-staff{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:0.4rem  solid rgb(249, 249, 249);
    align-items: center;
   flex-direction: column;
    width:100%;
    display: flex;
    border-radius:0.5rem;
    justify-content: center;
    height:100%;
   /* background-color: rgb(247, 247, 109); */
   background: radial-gradient(#f7f7f763, #000000);
/* border-top-right-radius:1.5rem; */
background-repeat: no-repeat;
background-size: cover;
/* border-bottom-left-radius:1.5rem; */
  }
 
  .staff-details .colour-staff img{
  
  width:100%;
  position: relative;
  
 object-fit: cover;
  /* border-top-right-radius:1.5rem;
  border-bottom-left-radius:1.1rem; */
   
    
    
  }
  /* .staff-details:hover .staff-details-2 h1{
    opacity: 1;
   
    bottom:0;
  }
  .staff-details:hover .staff-details-2 p{
    opacity: 1;
   
    top:0;
  } */
  .staff-details-2 h1{
    border-top-left-radius: 0.5rem;
    border-top-right-radius:0.5rem;
  background-color: #222222;
  width:100%;
  padding:0.5rem 0.2rem;
  line-height:1.8rem;
      font-size:1.4rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.852);
    
     

  }
  .staff-details-2 p{
      font-size:1.3rem;
      /* background-image: linear-gradient(to bottom right, rgb(212, 40, 40), rgb(31, 89, 216)); */
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius:0.5rem;
      width:100%;
      text-align:center;
      background-color: aliceblue;
      color: rgba(4, 4, 4, 0.893);
      padding:0rem 0rem;
      font-weight:800;
     
    
  }
  .heading-staffs{
   padding:2rem 0rem;
    width:100%;
    background-color: rgb(255, 255, 255);
  text-align: center;
  
  }
.heading-staffs h1{
  color:rgb(0, 0, 0);
  width:100%;
  font-size:4rem;
  
 

}

@keyframes text-staff {
  
  to{
  
    background-image: linear-gradient(to bottom right, rgb(31, 89, 216),rgb(212, 40, 40));
  }
}